<%= link_to 'Back', car_parts_path(@part.car_id) %>
<% if current_user == @part.user %>
    <%= link_to 'Edit', edit_part_path(@part) %>
    <td><%= link_to 'Delete', part_path(@part),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
<% end %>